<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508133188397-cubp642tc2isef4jvb8t36l34nevd4fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508133188397-cubp642tc2isef4jvb8t36l34nevd4fq</string>
	<key>API_KEY</key>
	<string>AIzaSyCjXfckrMg2eSfPVfgbJ7FTEIBiV3xXZA4</string>
	<key>GCM_SENDER_ID</key>
	<string>508133188397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amideApp</string>
	<key>PROJECT_ID</key>
	<string>amide-thesis</string>
	<key>STORAGE_BUCKET</key>
	<string>amide-thesis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508133188397:ios:9e565081229352096869a4</string>
</dict>
</plist>